# Ignore precompile and spec ruby files.
*.rbc
capybara-*.html
.rspec

# Ignore log and temp files.
log
tmp
!/log/.keep
!/tmp/.keep
yarn-error.log

# Ignore the default SQLite database.
db/*.sqlite3
db/*.sqlite3-journal

# Ignore misc settings.
public/system
coverage/
spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore config settings.
config/secrets.yml
config/initializers/secret_token.rb

# Ignore environment variables.
.env

## Ignore environment settings.
.bundle
vendor/bundle
Gemfile.lock
.ruby-version
.ruby-gemset

# Ignore rvm settings.
.rvmrc

# Ignore bower components (if using bower-rails).
vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore node modules.
node_modules

# Ignore pow environment settings.
.powenv

# Ignore Byebug command history file.
.byebug_history
